<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eormega.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.eormega.pojo.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nickName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="headPortrait" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="role" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, nickName, headPortrait, integral, createDate, role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eormega.pojo.User" >
    insert into user (id, username, password, 
      nickName, headPortrait, integral, 
      createDate, role)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{headPortrait,jdbcType=VARCHAR}, #{integral,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{role,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eormega.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="headPortrait != null" >
        headPortrait,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="role != null" >
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null" >
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eormega.pojo.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null" >
        headPortrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eormega.pojo.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickName = #{nickName,jdbcType=VARCHAR},
      headPortrait = #{headPortrait,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      role = #{role,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="checkUsername" resultType="int" parameterType="string" >
    select count(1) from mmall_user
    where username = #{username}
  </select>

  <select id="checkEmail" resultType="int" parameterType="string" >
    select count(1) from mmall_user
    where email = #{email}
  </select>


  <select id="selectLogin" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List" />
    from user
    where username = #{username}
    and password = #{password}
  </select>


  <select id="selectQuestionByUsername" resultType="string" parameterType="string">
    select
    question
    from user
    where username = #{username}
  </select>

  <select id="checkAnswer" resultType="int" parameterType="map">
    SELECT
    count(1)
    from user
    where username=#{username}
    and question = #{question}
    and answer = #{answer}
  </select>

  <update id="updatePasswordByUsername" parameterType="map">
    update user
    SET password = #{passwordNew},update_time = now()
    where username = #{username}
  </update>

  <select id="checkPassword" resultType="int" parameterType="map">
    SELECT
    count(1)
    from user
    where password = #{password}
    and id = #{userId}
  </select>


  <select id="checkEmailByUserId" resultType="int" parameterType="map">
    select count(1) from user
    where email = #{email}
    and id != #{userId}
  </select>

  <select id="getByUsername" resultMap="BaseResultMap" parameterType="string">
    select
    *
    from user
    where username = #{username}
  </select>
</mapper>